body {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

.container {
    width: 70vw;
    max-width: 1000px;
    margin: 30px 0 30px;
}