.places {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.places h1 {
    font-size: 30px;
}

.places-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places-article h2 {
    font-size: 30px;
    text-align: center;
}